.button {
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  width: fit-content;
  min-width: 150px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: $secondary_color;
  border-radius: 30px;
  color: $primary_color;
  font-size: 18px;
  font-family: $font_nunito;
  transition: 0.5s ease-out;
  border: 2px solid $primary_color;
  outline: none;
  @include fontSemiBold;
  &:before {
    content: '';
    width: 200%;
    height: 500%;
    background-color: $primary_color;
    position: absolute;
    transform: rotate(30deg) translateX(-400px);
    transition: 0.5s ease-out;
    z-index: 1;
  }
  &:hover {
    color: $secondary_color;
    &:before {
      transform:translateX(0);
    }
  }
  span {
    position: relative;
    z-index: 2;
  }
  @include mobile {
    font-size: 16px;
    padding: 8px 15px;
  }
}
.addCart {
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  width: 100%;
  background-color: $primary_color;
  color: $secondary_color;
  border: thin solid $primary_color;
  padding: 10px;
  font-size: 14px;
  transition: 0.3s ease;
  @include fontSemiBold;
  &:hover {
    background-color: $secondary_color;
    color: $primary_color;
  }
}
.category {
  &-link {
    text-decoration: none;
    color: $primary_color;
    font-size: 18px;
    transition: 0.3s;
    &:hover {
      text-shadow: 0 0 1px $primary_color;
    }
    &.nuxt-link-active {
      text-shadow: 0 0 1px $primary_color;
    }
  }
  &-expand {
    cursor: pointer;
    height: 7px;
    padding-top: 7px;
    span {
      display: block;
      width: 12px;
      height: 2px;
      background-color: $primary_color;
      transition: 0.3s;
      &:last-child {
        margin-top: -2px;
        transform: rotate(90deg);
      }
    }
    &__active {
      span {
        &:last-child {
          opacity: 0;
          transform: rotate(0deg);
        }
      }
    }
  }
  &-list {
    margin: 10px 0 0;
    padding: 0 0 0 15px;
    list-style: none;
    li {
      margin-bottom: 5px;
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color: $primary_color;
        font-size: 16px;
        transition: 0.5s ease;
        &:hover {
          text-shadow: 0 0 1px $primary_color;
        }
        span {
          color: $light_grey;
          text-shadow: none;
          font-size: 14px;
        }
        &.nuxt-link-active {
          text-shadow: 0 0 1px $primary_color;
        }
      }
    }
  }
}
