.button {
  user-select: none;
  position: relative;
  overflow: hidden;
  width: fit-content;
  min-width: 150px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: $secondary_color;
  border-radius: 30px;
  color: $primary_color;
  font-size: 18px;
  font-family: $font_nunito;
  transition: 0.5s ease-out;
  border: 2px solid $primary_color;
  @include fontSemiBold;
  &:before {
    content: '';
    width: 200%;
    height: 500%;
    background-color: $primary_color;
    position: absolute;
    transform: rotate(30deg) translateX(-400px);
    transition: 0.5s ease-out;
    z-index: 1;
  }
  &:hover {
    color: $secondary_color;
    &:before {
      transform:translateX(0);
    }
  }
  span {
    position: relative;
    z-index: 2;
  }
  @include mobile {
    font-size: 16px;
    padding: 8px 15px;
  }
}
